.filters li {
  min-height: 20px;
}

.buttonVolts:hover {
  background-color: black;
  border: 0.5px solid white;
  color: white;
}

.iconVolts:hover {
  color: white;
}

.button-filter {
  max-height: 50px;
}
