.main {
  background-color: black;
  overflow-y: auto;
}


.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
}

.table-wrapper {
  min-width: 100%;
  overflow-y: auto;
}
