body {
  background-color: black;
  margin: 0;
  max-width: 100vw;
  padding: 0;
  width: 100%;
}

.App {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  background-color: #ffe60300;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfd222;
  border-radius: 10px;
}
